@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Poppins);
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-shape .triangle {
    background-image: url(images/triangle.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.single-shape .square {
    margin-left: -40px;
    background-image: url(images/square.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

nav .icon {
    background-image: url(images/ic_menu.png);
    background-repeat: no-repeat;
    width: 111px;
    height: 74px;
    margin-left: 425px;
    margin-top: -50px;
}

.geometry {
    background-image: url(images/image_geometry_2.png);
    background-repeat: no-repeat;
    width: 95vw;
    height: 30vh;
    overflow: hidden;
    background-size: cover;
    margin-right: 75px;
    background-position: center;
    margin-bottom: 50px;
}

.single-shape {
    width: 111px;
    height: 74px;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.html,
.rails,
.js {
    float: left;
    background-color: #92DCDC;
    margin: 10px;
    padding: 15px;
}

.headline .name {
    width: 200px;
    justify-self: flex-start;
    height: 100px;
    margin-right: 320px;
    margin-left: 30px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #1a2236;
    line-height: 0.9;
}

.headline button:hover {
    border: solid 1px #1a2236;
    background-color: #fff;
    color: #1a2236;
}

.headline button:active {
    border: solid 3px #1a2236;
    background-color: #fff;
    color: #1a2236;
}

.project-title {
    align-self: flex-start;
    width: 380px;
    height: 100px;
    font-family: 'Playfair Display', sans-serif;
    margin-left: 50px;
    margin-bottom: -30px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #1a2236;
    line-height: 0.9;
}

.headline .main {
    width: 380px;
    height: 126px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #1a2236;
    margin-top: 150px;
    align-self: flex-end;
    text-align: justify;
    margin-right: 135px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.headline .collaboration {
    width: 400px;
    height: 70px;
    background: #1a2236;
    margin-right: 120px;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 0;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.bg-screen {
    background-image: url(images/laptop.png);
    min-height: 50vh;
    width: 100%;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-screen-1 {
    background-image: url(images/screen.png);
    min-height: 50vh;
    width: 100%;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-screen-2 {
    background-image: url(images/device-1.png);
    min-height: 50vh;
    width: 100%;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-screen-3 {
    background-image: url(images/device-4.png);
    min-height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-screen-4 {
    background-image: url(images/device-3.png);
    min-height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-screen-5 {
    background-image: url(images/device-3.png);
    min-height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.project-name,
.project-name-2,
.project-name-3,
.project-name-4,
.project-name-5,
.project-name-6 {
    display: flex;
    align-items: center;
    margin-top: -100px;
    margin-bottom: -5px;
    height: 40vh;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background: #1a2236;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
}

h3 {
    font-style: normal;
    font-weight: 300;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    line-height: 80%;
    color: #fff;
}

.languages {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}

.html {
    background: #98dede;
    margin: 10px;
    padding: 10px;
    width: 87px;
    height: 20px;
}

.rails {
    background: #98dede;
    margin: 10px;
    padding: 10px;
    width: 87px;
    height: 20px;
}

.js {
    font-family: 'Poppins', sans-serif;
    background: #98dede;
    margin: 10px;
    padding: 10px;
    width: 87px;
    height: 20px;
}

.frw {
    margin-top: -20px;
}

.see-this-project {
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
    width: 178px;
    height: 44px;
    border: 1px solid #fff;
    margin-left: 50px;
    color: white;
    margin-top: 50px;
}

.text {
    text-align: center;
    font-weight: bolder;
    margin-top: 11px;
    margin-left: 10px;
}

.arrow {
    font-family: 'Poppins', sans-serif;
    width: 20.57px;
    height: 15.35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
}

.about {
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    margin-bottom: 100px;
}

.about-me {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.abt {
    font-size: 50px;
    font-style: normal;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0;
    text-align: left;
    color: #1a2236;
}

.detail {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    color: #1a2236;
}

.get-my-cv {
    width: 100%;
    height: 289px;
    background: #1c528a;
}

ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.0525em;
    text-align: center;
    color: #fff;
}

ul {
    list-style: none;
    margin-left: 150px;
    margin-right: 250px;
}

ul li::before {
    content: "\2022";
    color: #fff;
    font-weight: bold;
    display: inline;
    width: 1em;
    margin-right: 20px;
    margin-left: -1em;
}

.framework {
    width: 100%;
    height: 289px;
    background: #e2505c;
}

.skills {
    width: 100%;
    height: 289px;
    background: #febf52;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
}

.cv {
    font-family: sans-serif;
    width: 430px;
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #1a2236;
    margin-bottom: 50px;
    border: 0;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.mycv {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.project-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.get-my-cv,
.framework,
.skills {
    font-family: 'Poppins', sans-serif;
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 813px;
    background-color: #F9F9FA;
}

.icon-geometry {
    display: flex;
    justify-content: flex-start;
    background-image: url(images/image_geometry_3.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-position: center;
    padding: 50px;
    margin-top: -2px;
    margin-left: -55px;
}

.get_started {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get_started_header {
    font-family: "Playfair Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    color: #1A2236;
}

.get_started_text {
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    width: 380px;
}

.btn {
    width: 400px;
    height: 70px;
    background: #1a2236;
    margin-left: 7px;
    margin-top: 80px;
    margin-bottom: 50px;
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 0;
    border-radius: 5px;
}

.btn:hover {
    border: solid 1px #1a2236;
    background-color: #fff;
    color: #1a2236;
}

.btn:active {
    border: solid 3px #1a2236;
    background-color: #fff;
    color: #1a2236;
}

form {
    /* Center the form on the page */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    /* border: 1px solid #CCC;
    border-radius: 1em; */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    height: 50px;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 400px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
    margin-bottom: 30px;
    border-radius: 3px;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
}

.social_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%;
    height: 50vh; */
    background-color: #1A2236;
    /* padding: 100px; */
}

.social_handles {
    display: flex;
    width: 100px;
    justify-content: space-around;
}

.social_handles a img {
    padding: 20px;
}

.social_handles a img:hover {
    color: #92DCDC;
}

.get_my_resume {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #92DCDC;
}

.get_my_resume img {
    /* margin-top: -10px; */
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 13px;
}